<div class="row">
    <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Nom du pays / Drapeau / Capitale</div>
            <div class="card-body">
                <h4 class="card-title">Chiffres</h4>
                <p class="card-text">Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h1>Coffee Productors</h1>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Nom du pays / Drapeau / Capitale</div>
            <div class="card-body">
                <h4 class="card-title">Chiffres</h4>
                <p class="card-text">Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Nom du pays / Drapeau / Capitale</div>
            <div class="card-body">
                <h4 class="card-title">Chiffres</h4>
                <p class="card-text">Description</p>
            </div>
        </div>
    </div>
</div>
