<div>
    <h2 id="page-heading">
        <span jhiTranslate="lensleauApp.stock.home.title">Stocks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock" [routerLink]="['/stock/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lensleauApp.stock.home.createLabel">
            Create new Stock
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="stocks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lensleauApp.stock.quantity">Quantity</span></th>
            <th><span jhiTranslate="lensleauApp.stock.jhi_user">Jhi User</span></th>
            <th><span jhiTranslate="lensleauApp.stock.coffee_type">Coffee Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stock of stocks ;trackBy: trackId">
                <td><a [routerLink]="['/stock', stock.id, 'view' ]">{{stock.id}}</a></td>
                <td>{{stock.quantity}}</td>
                <td>
                    {{stock.jhi_user?.id}}
                </td>
                <td>
                    <div *ngIf="stock.coffee_type">
                        <a [routerLink]="['../coffee-type', stock.coffee_type?.id, 'view' ]" >{{stock.coffee_type?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stock', stock.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stock', stock.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'stock', { outlets: { popup: stock.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
