<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Lens Coffee</h1>
        <div class="futureimg"></div>
        <div class="btn-menu">
            <button type="button" class="btn btn-accueil" [routerLink]="['./commands']">Your Coffee Commands</button>
            <button type="button" class="btn btn-accueil" [routerLink]="['./productors']">Coffee Productors</button>
            <button type="button" class="btn btn-accueil" [routerLink]="['./command']">Command some Coffee</button>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
