<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coffeeType">
            <h2><span jhiTranslate="lensleauApp.coffeeType.detail.title">Coffee Type</span> {{coffeeType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lensleauApp.coffeeType.coffeeType">Coffee Type</span></dt>
                <dd>
                    <span>{{coffeeType.coffeeType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coffee-type', coffeeType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
